<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/">Swift<span class="brand-highlight">Handyman</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Main navigation items -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{#if (ifeq page 'home')}}active-nav{{/if}}" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {{#if (ifeq page 'services')}}active-nav{{/if}}" href="/services" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{#each coreServices}}
                        <li><a class="dropdown-item" href="/core-service/{{this.slug}}">{{this.title}}</a></li>
                        {{/each}}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/services">View All Provider Services</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if (ifeq page 'about')}}active-nav{{/if}}" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if (ifeq page 'articles')}}active-nav{{/if}}" href="/articles">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{#if (ifeq page 'contact')}}active-nav{{/if}}" href="/contact">Contact Us</a>
                </li>
            </ul>

            <!-- User-specific links pushed to the right -->
            <ul class="navbar-nav ms-auto">
                {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link {{#if (ifeq page 'dashboard')}}active-nav{{/if}}" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link {{#if (ifeq page 'login')}}active-nav{{/if}}" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if (ifeq page 'register')}}active-nav{{/if}}" href="/register">Register</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>